################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IQAppProvisioningPowerShell/v14
#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*
/IQAppProvisioningPowerShell/assemblies/de/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/de/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/de/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/de/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/Microsoft.Data.Edm.resources.dll
/.vs/config/applicationhost.config
/.vs/IQSharePointProvisioning/v15/Server/sqlite3
/IQAppProvisioningBaseClasses/.vs/IQAppProvisioningBaseClasses/v15/Server/sqlite3
/IQAppProvisioningBaseClasses
