################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IQAppProvisioningPowerShell/v14
/IQAppProvisioningPowerShell/assemblies/de/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/de/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/de/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/de/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/es/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/fr/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/it/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/ja/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/ko/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/ru/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hans/Microsoft.Data.Edm.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/System.Spatial.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/Microsoft.Data.Services.Client.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/Microsoft.Data.OData.resources.dll
/IQAppProvisioningPowerShell/assemblies/zh-Hant/Microsoft.Data.Edm.resources.dll
