<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="3ED3FFE0-B233-41C4-8AFC-DCD66C8B32C6" 
           Name="InstantQuick SharePoint Provisioning PowerShell" 
           Language="1033" 
           Version="1.0.0.1" 
           Manufacturer="InstantQuick" 
           UpgradeCode="61DE39D7-C47D-4FC4-B78C-5F5E84B8850A">
		<Package Id="1CC12A6F-E750-4FDA-847A-F3C4CB8A3AC5" 
             InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="InstantQuick SharePoint Provisioning PowerShell" Level="1">
      <ComponentGroupRef Id="Product" />
      <ComponentGroupRef Id="Assemblies"/>
      <ComponentGroupRef Id="ENVIRONMENTVARS" />
    </Feature>

    <PropertyRef Id="NETFRAMEWORK45"/>

    <Condition Message="This application requires .NET Framework 4.5.2. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Property Id="POWERSHELLCOMPATIBLE">
      <RegistrySearch Id="PSCompatible"
                      Root="HKLM"
                      Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine"
                      Name="PSCompatibleVersion"
                      Type="raw" />
    </Property>

    <Condition Message="PowerShell 3.0 is required. Please install PowerShell 3.0 then run this installer again.">
      <![CDATA[Installed OR (POWERSHELLCOMPATIBLE >< "3.0")]]>
    </Condition>
  </Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
        <Directory Id="ModuleFolder" Name="SharePointProvisioning">
          <Directory Id="MODULEFOLDER" Name="IQAppProvisioningModule">
            <Directory Id="ASSEMBLIESFOLDER" Name="Assemblies"></Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="Product" Directory="MODULEFOLDER">
      <Component Id="PowerShellModule" Guid="{1F5CA574-E185-49D2-9A91-CD46A8548D3E}" >
        <File Source="..\IQAppProvisioningPowerShell\IQAppProvisioningModule.psm1" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="ENVIRONMENTVARS" Directory="TARGETDIR">
      <Component Id="EnvironmentVarPerMachine" Guid="{367A62DF-45EC-4928-849D-467D776A9564}">
        <Condition>ALLUSERS=1  OR (ALLUSERS=2 AND Privileged)</Condition>
        <Environment Id="PSMODULEPATHPERMACHINE" Name="PSMODULEPATH" Value="[ProgramFilesFolder]SharePointProvisioning\IQAppProvisioningModule" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="Assemblies" Directory="ASSEMBLIESFOLDER">
      <Component Id="AssemblyFiles" Guid="{1F5CA574-E185-49D2-9A91-CD46A8548D3F}" >
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\FSharp.Core.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\HtmlAgilityPack.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\IQAppManifestBuilders.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\IQAppManifestProvisioner.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\IQAppProvisioningBaseClasses.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\IQAppSiteProvisioner.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\IQAppStorageMigrator.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Azure.KeyVault.Core.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Data.Edm.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Data.OData.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Data.Services.Client.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Office.Client.Policy.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Office.Client.TranslationServices.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Office.SharePoint.Tools.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.Online.SharePoint.Client.Tenant.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.ProjectServer.Client.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.DocumentManagement.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.Publishing.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.Runtime.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.Runtime.Windows.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.Search.Applications.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.Search.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.Taxonomy.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.UserProfiles.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.SharePoint.Client.WorkflowServices.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.WindowsAzure.Configuration.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Microsoft.WindowsAzure.Storage.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\Newtonsoft.Json.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\ScrapySharp.Core.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\ScrapySharpAsync.dll" />
        <File Source="..\IQAppProvisioningPowerShell\Assemblies\System.Spatial.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>
